body {
    font-family: sans-serif; 
    background-color: #f4f4f4; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh; 
    margin: 0; 
    padding-top: 20px;
    box-sizing: border-box;
}

h1 {
    color: #333; 
    margin-bottom: 2rem; 
    text-align: center; 
}

div {
    margin-bottom: 1rem; 
}

.big-button {
    background-color: #007bff; 
    color: white; 
    padding: 1rem 2rem; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1rem; 
    transition: background-color 0.3s ease; 
    min-width: 200px;
}

.big-button:hover {
    background-color: #0056b3; 
}

.login-btn {
    background-color: #28a745; 
    color: white; 
    padding: 1rem 2rem; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1rem; 
    transition: background-color 0.3s ease; 
    min-width: 200px;
}

.login-btn:hover {
    background-color: #1e7e34; 
}

a {
    text-decoration: none; 
}

.top-bar {
    background-color: purple;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow:
        0 2px 5px rgba(0, 0, 0, 0.2), 
        0 1px 0 rgba(255, 255, 255, 0.1) inset; 
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
}

.tickets-table th {
    border: 1px solid black;
    width: 200px;
}

.tickets-table td {
    border: 1px solid black;
    text-align: center;
    height: 40px;
}

.pay-button {
    height: 40px;
    padding: 0 20px 0 20px;
    background-color: #33dd5b;
    border-radius: 10px;
    cursor: pointer;
}

.pay-button:hover {
    background-color: #019718; 
}
